  services:
    # The Database
    db:
      image: postgres:13
      container_name: simple_todo_db
      volumes:
        - postgres_data:/var/lib/postgresql/data
      environment:
        - POSTGRES_USER=${POSTGRES_USER}
        - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
        - POSTGRES_DB=${POSTGRES_DB}
        - TZ=${TZ}
      ports:
        - "5432:5432"
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U postgres"]
        interval: 5s
        timeout: 5s
        retries: 5
    
    redis:
      image: redis:alpine
      container_name: simple_todo_redis
      ports:
        - "6379:6379"

    # The FastAPI Backend
    backend:
      build: ./backend
      container_name: simple_todo_backend
      command: uvicorn app.main:app --host 0.0.0.0 --port 8000
      ports:
        - "8000:8000"
      depends_on:
        db:
          condition: service_healthy
      # overiding local .env file
      environment:
        DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
        CELERY_BROKER_URL: ${CELERY_BROKER_URL}
        CELERY_RESULT_BACKEND: ${CELERY_RESULT_BACKEND}
        TZ: ${TZ}
    
    celery_worker:
      build: ./backend
      container_name: simple_todo_celery
      # The command to start the Celery worker
      command: celery -A app.worker.celery_app worker --loglevel=info
      depends_on:
        db:
          condition: service_healthy
        redis:
          condition: service_started
      environment:
        DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
        CELERY_BROKER_URL: ${CELERY_BROKER_URL}
        CELERY_RESULT_BACKEND: ${CELERY_RESULT_BACKEND}
        TZ: ${TZ}

  volumes:
    postgres_data: